<div
  class="sidebar"
  [ngClass]="{
    open: firebaseService.IS_OPEN_MENU$ | async,
    'd-none': !(firebaseService.IS_SHOW_MENU$ | async)
  }"
>
  <div class="logo-details">
    <i class="pi pi-globe icon"></i>
    <div
      class="logo_name"
      [ngClass]="{ 'd-none': !(firebaseService.IS_OPEN_MENU$ | async) }"
    >
      Damie Kids
    </div>
    <i
      class="pi"
      [ngClass]="
        (firebaseService.IS_OPEN_MENU$ | async)
          ? 'pi-align-right'
          : 'pi-align-justify'
      "
      id="btn"
      (click)="btnClick()"
    >
    </i>
  </div>
  <ul class="nav-list">
    <ng-container *ngFor="let item of leftMenu">
      <li
        *ngIf="item.path"
        [routerLink]="item.path"
        routerLinkActive="menu-active"
      >
        <a href="javascript:void(0)">
          <i [ngClass]="item.icon"></i>
          <span class="links_name">{{ item.name }}</span>
        </a>
        <span class="tooltip">{{ item.tooltip }}</span>
      </li>
      <li *ngIf="item.link">
        <a target="_blank" [href]="item.link">
          <i [ngClass]="item.icon"></i>
          <span class="links_name">{{ item.name }}</span>
        </a>
        <span class="tooltip">{{ item.tooltip }}</span>
      </li>
    </ng-container>
    <li class="profile cursor-pointer" (click)="showMenu(false)">
      <div class="profile-details">
        <img
          src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/12/User_icon_2.svg/768px-User_icon_2.svg.png"
          alt="profileImg"
        />
        <div class="name_job">
          <div class="name">Diem My</div>
          <div class="job">Web designer</div>
        </div>
      </div>
      <i class="pi pi-chevron-left" id="log_out"></i>
    </li>
  </ul>
</div>

<p-button
  class="flat-button-menu"
  icon="pi pi-chevron-right"
  styleClass="p-button-rounded p-button-text"
  (onClick)="showMenu(true)"
></p-button>
