<p-table
  [value]="dataTable"
  responsiveLayout="stack"
  [breakpoint]="'960px'"
  [tableStyle]="{ 'min-width': '50rem' }"
>
  <ng-template pTemplate="header">
    <tr>
      <ng-container *ngFor="let td of headers">
        <th [ngClass]="td.headerClassName" pSortableColumn="{{ td.field }}">
          <div class="flex align-items-center">
            {{ td.name }}
            <p-columnFilter
              *ngIf="!td.filter.noFilter"
              type="text"
              [field]="td.field"
              display="menu"
              [matchMode]="td.filter.matchMode || 'contains'"
              [showMatchModes]="false"
              [showOperator]="false"
              [showAddButton]="false"
            >
              <ng-template
                *ngIf="td.type === 'dropdown'"
                pTemplate="filter"
                let-value
                let-filter="filterCallback"
              >
                <p-multiSelect
                  id="value"
                  optionLabel="name"
                  optionValue="value"
                  [options]="td.filter.dropdownOptions ?? []"
                  [showClear]="false"
                  [filter]="false"
                  [placeholder]="td.name"
                  [(ngModel)]="td.filter.filterValue"
                  (onChange)="filter($event.value)"
                ></p-multiSelect>
              </ng-template>
            </p-columnFilter>
          </div>
        </th>
      </ng-container>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-product>
    <ng-container>
      <tr>
        <td *ngFor="let td of headers" [ngClass]="td.className">
          <div class="table-cell">
            <ng-container [ngSwitch]="td.type">
              <ng-container *ngSwitchCase="'image'">
                <img [src]="product[td.field]" />
              </ng-container>
              <ng-container *ngSwitchCase="'link'">
                <div [innerHTML]="renderLink(product[td.field])"></div>
              </ng-container>
              <ng-container *ngSwitchCase="'number'">
                {{ +product[td.field] | number }}
              </ng-container>
              <ng-container *ngSwitchCase="'dropdown'">
                <p-dropdown
                  id="value"
                  optionLabel="name"
                  optionValue="value"
                  [options]="td.filter.dropdownOptions ?? []"
                  [showClear]="false"
                  [ngModel]="product[td.field]"
                  [readonly]="true"
                ></p-dropdown>
              </ng-container>

              <ng-container *ngSwitchDefault>
                {{ product[td.field] }}
              </ng-container>
            </ng-container>
          </div>
        </td>
      </tr>
    </ng-container>
  </ng-template>
</p-table>
