<nb-layout>
  <nb-layout-column class="p-0">
    <div class="container-wrap d-flex" [ngClass]="{ 'menu-open': menuOpen }">
      <div>
        <app-left-menu (open)="menuOpen = $event"></app-left-menu>
      </div>
      <div class="content-outlet">
        <router-outlet></router-outlet>
      </div>
    </div>
  </nb-layout-column>
  <nb-layout-footer fixed class="d-none d-md-block boder-0"
    ><app-footer></app-footer>
  </nb-layout-footer>
</nb-layout>
<p-toast></p-toast>
<p-confirmDialog [style]="{ width: '50vw' }"></p-confirmDialog>
